$light-blue: rgba(123, 164, 217, 1);
$orange: rgba(233, 131, 0, 1);

.main-area {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  color: white;

  h1 {
    flex-shrink: 0;
    color: $light-blue;
    font-weight: 900;
    font-size: 3em;
    padding: 0 0 1em;
  }

  .content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
  }
}
