.submenu {
	width: 95%;
	margin-left: 1.5%;
	margin-bottom: -10px;
	background-image: -webkit-linear-gradient(135deg, #0089c4 0%, #0f204b 100%);
	background-image: linear-gradient(315deg, #0089c4 0%, #0f204b 100%);
	border-radius: 1px;
	visibility: hidden;
	list-style: none;

	li {
		color: white;
		padding: 16px 12px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		font-weight: 700;
	}

	li:last-child {
  		border-bottom: none;
		padding-bottom: 26px;
	}

	li:hover {
		background: rgba(255, 255, 255, 0.1);
	}

	li:active {
		background: rgba(255, 255, 255, 0.2);
	}
}


.expand-up {
	animation-name: expand-up;
	animation-duration: 0.7s;
	animation-timing-function: ease;
	visibility: visible;
}

@keyframes expand-up {
	0% 		{ transform: translateY(50%) scale(0.6) scaleY(0.5); }
	60% 	{ transform: translateY(-7%) scaleY(1.12); }
	75% 	{ transform: translateY(3%); }
	100%	{ transform: translateY(0%) scale(1) scaleY(1);  }
}
